/* css for category */
.header {
    min-width: 80px;
    padding: 10px;
}

.header span {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 900;
    color: var(--color5);
}

.container-voter {
    display: flex;
    justify-content: space-around;
    /* border: 2px red solid; */
    min-width: 100%;
}

/* css for vote */
.container-voter .vote {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: var(--color5) 5px solid;
    border-radius: 10px;
    box-sizing: border-box;
    max-height: 400px;
    min-width: 35%;
    margin: 5px;
    padding: 10px;
}

.container-voter .vote span {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
}

.container-voter .vote form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    background-color: var(--color1);
    border-radius: 10px;
}

.container-voter .vote .form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    min-width: 100%;
    /* border:solid red 1px; */
}

.container-voter .vote .form-item label {
    /* border:solid red 1px; */
    min-width: 100%;
    padding: 5px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
}

.container-voter .vote .form-item select {
    /* border:solid red 1px; */
    min-width: 100%;
    padding: 2px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
}

.container-voter .vote .form-item input[type=number] {
    /* border:solid red 1px; */
    min-width: 100%;
    padding: 2px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
}

.container-voter .vote .form-item button {
    font-size: 15px;
    min-width: 100%;
    padding: 5px;
    border: none;
    background-color: var(--color5);
    border-radius: 10px;
}

.container-voter .vote .form-item button:hover {
    background-color: var(--color3);
}

/* css for result */

.container-voter .result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: 2px red solid; */
    border: 5px solid var(--color5);
    border-radius: 10px;
    min-width: 60%;
    margin: 5px;
    padding: 10px;
}

.container-voter .result .title {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 900;
    margin: 10px;

}

.container-voter .result .result-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    margin: 10px;
}

.container-voter .result .result-item span {
    min-width: 90%;
    /* border: solid 1px red; */
    padding: 5px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.container-voter .result .result-item table,
th,
td {
    border: 5px solid white;
    border-collapse: collapse;
    background-color: #2f9a9a;
    min-width: 90%;
    text-align: center;
}

.container-voter .result .result-item table,
th {
    padding: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
}

.container-voter .result .result-item table,
td {
    padding: 5px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
}

.container-voter .result .result-item table,
td:hover {
    background-color: var(--color5);
}